##########
# Docker #
##########

PHP_VERSION=8.4

IDENTIFIER=laravel
DOMAIN=localhost

WEBSERVER_PORT=8000

DATABASE_PORT=54320
POSTGRES_DATABASE="${IDENTIFIER}"
POSTGRES_USERNAME=root

STORE_PORT=63790

S3_PORT=9010
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=password
MINIO_REGION_NAME=eu-west-1
MINIO_ALIAS=storage
MINIO_BUCKET=files
MINIO_URL="http://${DOMAIN}:${S3_PORT}"
MINIO_ENDPOINT="http://s3:9000"


###########
# Laravel #
###########

APP_NAME=Laravel
APP_SLUG="${IDENTIFIER}"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL="http://${DOMAIN}:${WEBSERVER_PORT}"

DB_CONNECTION=pgsql
DB_HOST=database
DB_PORT=5432
DB_DATABASE="${POSTGRES_DATABASE}"
DB_USERNAME="${POSTGRES_USERNAME}"

SESSION_DRIVER=redis
SESSION_CONNECTION=session
QUEUE_CONNECTION=redis
REDIS_QUEUE_CONNECTION=queue
CACHE_STORE=redis
FILESYSTEM_DISK=s3

REDIS_HOST=store

MAIL_LOG_CHANNEL=mail

LOG_STACK=split

AWS_ACCESS_KEY_ID="${MINIO_SECRET_KEY}"
AWS_SECRET_ACCESS_KEY="${MINIO_ACCESS_KEY}"
AWS_DEFAULT_REGION="${MINIO_REGION_NAME}"
AWS_BUCKET="${MINIO_BUCKET}"
AWS_URL="${MINIO_URL}"
AWS_ENDPOINT="${MINIO_ENDPOINT}"
AWS_USE_PATH_STYLE_ENDPOINT=true
