includes:
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/phpstan/phpstan-mockery/extension.neon
    - ./vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    level: max
    tmpDir: ./storage/phpstan-cache
    paths:
        - app
        - database
        - tests
