<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="./vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Http">
            <directory>./tests/Suites/Http</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>./tests/Suites/Integration</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory>./tests/Suites/Unit</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>./app</directory>
        </include>
    </source>
    <php>
        <env name="DOMAIN" value="test.app"/>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="DB_HOST" value="database-test"/>
        <env name="REDIS_HOST" value="store-test"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="AWS_ENDPOINT" value="http://minio-test:9000"/>
    </php>
</phpunit>
